<main>
    <div class="container text-center w-75">
        <h2 class="hstyle">PORTFOLIO</h2>
        <p class="star"><i class="fa fa-star"></i></p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
            <div class="col">
                <div class="portfolio bg-black">
                    <div class="port-folio bg-success">
                        <img src="./assets/image/home.png" alt="home">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="portfolio bg-danger">
                    <div class="port-folio bg-warning p-4">
                        <img src="./assets/image/cake.png" alt="cake">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="portfolio bg-secondary">
                    <div class="port-folio bg-light p-4">
                        <img src="./assets/image/tent.png" alt="tent">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="portfolio">
                    <div class="port-folio">
                        <img src="./assets/image/game.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="portfolio">
                    <div class="port-folio">
                        <img src="./assets/image/safe.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="portfolio">
                    <div class="port-folio">
                        <img src="./assets/image/Submarine.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>